@charset "utf-8";
h1 {
	background-color: green;
	color: #000000;
	font-size: xx-large;
	text-align: center;
}
p img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.warning {
	color: red;
	font-weight: bold;
}
h1 {
	font-style: bold;
	color: #D11FA4;
	background-color: #F5EFF1;
}

body {
	background-color: #27A0AF;
	color: #F0DBDC;
	font-style: normal;
	background-image: url(Images/wallpaper_182372.jpg);
	font-weight: bolder;
}
header {
	margin-left: -7pt;
	margin-right: -2pt;
	background-color: #F8EDED;
	margin-top: 7vmin;
	margin-bottom: 6vmin;
	padding-left: 8px;
	padding-right: 50px;
	padding-bottom: 6px;
}
nav{
	background-color:pink;
	color: #1046C3;
}
